/* styles.css */
body {
    font-family: Arial, sans-serif;
}

table {
    width: 20%;
    border-collapse: collapse;
}

table, th, td {
    border: 3px solid black;
}

th, td {
    padding: 10px;
    text-align: left;
}

form {
    margin-top: 20px;
}

input[type="text"] {
    margin-bottom: 10px;
}

input[type="radio"] {
    margin-right: 5px;
}

button {
    margin-top: 10px;
}

aside {
    margin-top: 20px;
}

ul {
    list-style-type: disc;;
    padding-left: 20px;
}

li {
    padding: 5px 0;
}

a {
    text-decoration: underline;
    color: blue;
    text-size-adjust: 10px;
    
}

.Javahead
{
    
    border: 5px solid black;
    text-align: center;
    background-color: white;
    color: red;
    padding: 5px
    text-align center
}
.TheFormBody
{
    background-color: rgb(128, 240, 128);
    padding: 10px;
    float: left;
    width: 56.7%;
}
.TheLinkBody
{
    background-color: grey;
    padding: 20px;
    float: right;
    width: 40%;
    height: 35cap;
    position: relative;
    
}
