body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    position: relative;
}
.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    flex-direction: column;
}
.welcome-message {
    font-weight: bold;
    text-decoration: underline;
    margin-bottom: 20px;
    font-size : 50px;
    text-align: center;
}
.fighter-image {
    flex: 1;
    padding: 10px;
}
.fighter-image img {
    width: 350px;
    height: 350px;
}
.login-form {
    flex: 2;
    padding: 10px;
}
input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
}
button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
button:hover {
    background-color: #0056b3;
}
.fighter-image-right {
    position: absolute;
    top: 10px;
    right: 10px;
}
.fighter-image-right img {
    margin-top: 60px;
    width: 350px;
    height:350px;
}
#signup-link, #addplane-link {
    display: block;
    width: 100%;
    text-align: center;
    margin-top: 10px;
    color: #007bff;
    cursor: pointer;
    text-decoration: none;
}

#signup-link:hover, #addplane-link:hover {
    color: #0056b3;
}