.TableFont{
    
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
}
.Header ,h1
{
    text-align: center;
}
.table,th,td{
    border: 2.5px solid black;
    border-collapse: collapse;
}
.TextFont{
    font-size: 17px;
    float: left;
  width: 70%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   
}
.Container
{
    float: right;
    padding-top: 350px;
    width: 30%;
}